/*Barra de navegación*/
.img{
	height:20px;
	
}

/* Para base.html*/

h1{
  text-align: center;
  -webkit-text-fill-color: transparent; /* color del texto transparente */
  background-image: linear-gradient(to right, red, yellow);
  mix-blend-mode: multiply;
  position: relative;
  
	color:#fff;
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;

}




body{
	/*background-image: url("../img/fondoamarillo1.jpg")*/ 
}


/*Scroll-bar*/
::-webkit-scrollbar {
    background:none;
    overflow:-moz-hidden-unscrollable;
}

::-webkit-scrollbar-thumb {
	}


/*footer*/
footer{
	position:fixed;
	bottom: 0;
	width: 100%;
	height: 65px;
	
	background: rgb(192, 192, 192);
	border-top: 1px solid rgb(0, 0, 0);
}

footer #columnas{
   column-count:3;
   column-gap:40px;
   column-rule:1px dotted gray;
   list-style: none;
}

footer img{
	width:40px;
}

/* Para animated_pokeball.html*/

.pokeball__button {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    box-shadow: 0 0 0 7px black;
    background: #fff;
    z-index: 10;
    animation: blink .5s alternate infinite;
    animation-play-state: paused;
  }

  .pokeball:hover .pokeball__button{
      animation-play-state: running;
  }

  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }
  
/*arreglos varios*/

